.p-inputtext {
    padding: 0.75rem 0.75rem;
    background: transparent;
}
.p-menubar {
    border: none;
    border-radius: 0;
    padding: 15px 20px;
}
body,html {
    padding: 0;
    margin: 0;
}


.flex-item-right {
    display: flex;
    justify-content: flex-end;
}
.flex-item-middle{
    display: flex;
    align-items: center;
}